<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        @Html.ActionLink("Sistema Montemar", "Index", "Home", null, new { @class = "navbar-brand"})
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Residences", "Index", "Residencia", null, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Payment Plans", "Index", "PlanCobro", null, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Account Status", "Index", "EstadoCuenta", null, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Incidences", "Index", "Incidencia", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </div>
</nav>
