<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        @Html.ActionLink("Montemar", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>

                @{
                    string nombre = "";
                    int admin = 0;
                    Infrastructure.Models.Usuario oUsuario;
                    //Validar si existe en la sesión
                    if (Session["User"] != null)
                    {
                        oUsuario = (Infrastructure.Models.Usuario)Session["User"];
                        if (oUsuario != null)
                        {
                            admin = oUsuario.IdTipoUsuario;
                        }
                    }

                    if (admin == 1)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Residences", "Index", "Residencia", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Payment Plans", "Index", "PlanCobro", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Account Status", "Index", "EstadoCuenta", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Incidents", "Index", "Incidencia", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Announcement", "Index", "Informacion", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Payments", "Index", "Rubro", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Reservations", "Index", "Reservacion", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Earnings Report", "graficoPagos", "PlanCobro", null, new { @class = "dropdown-item" })
                                </li>
                            </ul>
                        </li>
                    }
                    else if (admin == 2)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Incidents", "IndexUser", "Incidencia", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Reservations", "IndexUser", "Reservacion", null, new { @class = "nav-link" })
                        </li>
                    }
                }

                @* Información usuario *@
                @{
                    string email = "User Profile";
                    //Validar si existe en la sesión
                    if (Session["User"] != null)
                    {
                        oUsuario = (Infrastructure.Models.Usuario)Session["User"];
                        if (oUsuario != null)
                        {
                            nombre = $"{oUsuario.Nombre} {oUsuario.Apellido01}";
                            email = oUsuario.Email;
                        }
                    }
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User Profile</a>

                    <ul class="dropdown-menu">
                        <li>
                            @if (Session["User"] != null)
                            {
                                <div class="dropdown-item">
                                    @* Nombre Usuario *@
                                    @Html.ActionLink("User: " + nombre, "Index", "Usuario", null, new { @class = "dropdown-item" })
                                </div>
                            }

                            <div class="dropdown-divider"></div>
                            @if (Session["User"] == null)
                            {
                                @Html.ActionLink("Login", "Index", "Login", null, new { @class = "dropdown-item" })
                            }
                            else
                            {

                                @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "dropdown-item " })
                            }
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
