@model IEnumerable<Infrastructure.Models.PlanCobro>

@{
    ViewBag.Title = "Index";
}

<h2>Payment Plans</h2>

<table class="table">
    <tr>
        <th style="font-size: 18px;">
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th style="font-size: 18px;">
            @Html.DisplayNameFor(model => model.Cobro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="font-size: 18px;">
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td style="font-size: 18px;">
            @Html.DisplayFor(modelItem => item.Cobro)
        </td>
        <td style="font-size: 18px;">
            <button type="button" class="btn btn-primary">@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
        </td>
    </tr>
}

</table>
