@model Infrastructure.Models.Rubro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cobro)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Rubro", null)" class="btn btn-outline-dark"><i class="fa-solid fa-reply"></i> Go Back</a>
</p>
