@model IEnumerable<Infrastructure.Models.Rubro>

@{
    ViewBag.Title = "Index";
}

<h2>Payments</h2>

<p>
    <a href="@Url.Action("Create", "PlanCobro", null)" class="btn btn-primary">Create New Payment</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cobro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cobro)
            </td>
            <td>
                <a href="@Url.Action("Details", "Rubro", new { id = item.Id })" class="btn btn-info"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="@Url.Action("Edit", "Rubro", new { id = item.Id })" class="btn btn-warning"><i class="fa-solid fa-pen"></i> Edit</a>
            </td>
        </tr>
    }

</table>
