@model IEnumerable<Infrastructure.Models.Usuario>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaPagar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol[item.IdTipoUsuario])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaPagar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estados[item.Estado])
            </td>
            <td>
                <button class="btn @(item.Estado == 1 ? "btn-danger" : "btn-success")" onclick="change(@item.Id)">@(item.Estado == 1 ? "Disable" : "Activate")</button>
            </td>
        </tr>
    }

</table>