@model Infrastructure.Models.AsignacionPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size: 18px;">
            <i class="fa-solid fa-house"></i> @Html.DisplayNameFor(model => model.IdResidencia)
        </dt>

        <dd style="font-size: 18px;">
            @Html.DisplayFor(model => model.IdResidencia)
        </dd>

        <dt style="font-size: 18px;">
            <i class="fa-solid fa-user"></i> @Html.DisplayNameFor(model => model.Residencia.Usuario)
        </dt>

        <dd style="font-size: 18px;">
            @Html.DisplayFor(model => model.Residencia.Usuario.FullName)
        </dd>

        <dt style="font-size: 18px;">
            <i class="fa-solid fa-money-bill"></i> Payments
        </dt>

        <dd style="font-size: 18px;">
            <ul style="font-size: 18px;">
                @foreach (Infrastructure.Models.Pago item in ViewBag.Pagos)
                {
                    <li>
                        <b>@Html.DisplayNameFor(modelItem => item.FechaPago):</b>
                        @Html.DisplayFor(modelItem => item.FechaPago) 
                         |
                        <b>@Html.DisplayNameFor(modelItem => item.Total):</b>
                        @Html.DisplayFor(modelItem => item.Total)
                    </li>
                }

            </ul>

        </dd>

        <dt style="font-size: 18px;">
            <i class="fa-solid fa-hand-holding-dollar"></i>  Debts
        </dt>

        <dd style="font-size: 18px;">
            <ul style="font-size: 18px;">
                @foreach (Infrastructure.Models.Deuda item in ViewBag.Deudas)
                {
                    <li>
                        <b>@Html.DisplayNameFor(modelItem => item.FechaPago):</b>
                        @Html.DisplayFor(modelItem => item.FechaPago)
                         | 
                        <b>@Html.DisplayNameFor(modelItem => item.Estado):</b>
                        @Html.DisplayFor(modelItem => item.Estados[item.Estado])
                    </li>
                }

            </ul>

        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary">@Html.ActionLink("Back to List", "Index")</button>
</p>
