@model Infrastructure.Models.AsignacionPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsignacionPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size: 18px;">
            @Html.DisplayNameFor(model => model.IdResidencia)
        </dt>

        <dd style="font-size: 18px;">
            @Html.DisplayFor(model => model.IdResidencia)
        </dd>

        <dt style="font-size: 18px;">
            @Html.DisplayNameFor(model => model.Residencia.Usuario)
        </dt>

        <dd style="font-size: 18px;">
            @Html.DisplayFor(model => model.Residencia.Usuario.FullName)
        </dd>

        <dt style="font-size: 18px;">
            @Html.DisplayNameFor(model => model.IdPlan)
        </dt>

        <dd style="font-size: 18px;">
            @Html.DisplayFor(model => model.IdPlan)
        </dd>

        <dt style="font-size: 18px;">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd style="font-size: 18px;">
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt style="font-size: 18px;">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd style="font-size: 18px;">
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
